@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(gg.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no repeat;
    padding-left: 50px;
}

.white {
    float: left;
    margin-left: 4px;
    height: 450px;
    width: 100px;
    box-shadow: inset 0px 0px 30px 20px white;
    cursor: pointer;
}

.black,
.black2,
.black3,
.black4,
.black5,
.black6,
.black7 {
    position: absolute;
    height: 400px;
    width: 50px;
    z-index: 99;
    margin-top: 0px;
    margin-left: -958px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px 5px gray;
    background: linear-gradient(to bottom, gray 0%, black 100%);
    cursor: pointer;
}

.black:active,
.black2:active,
.black3:active,
.black4:active,
.black5:active,
.black6:active,
.black7:active {
    background: linear-gradient(to bottom, black 0%, gray 100%);
}

.black2 {
    margin-left: -854px;
}

.black3 {
    margin-left: -646px;
}

.black4 {
    margin-left: -543px;
}

.black5 {
    margin-left: -439px;
}

.black6 {
    margin-left: -230px;
}

.black7 {
    margin-left: -127px;
}

div {
    margin-top: 100px;
    height: ;
    width: ;
}